@import "text_shadow";

$bgBox : silver;

@mixin hoverShadow(){
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.shipping {

  h1{
    @include flaming(blue,purple,aqua); 
  }


  input {
    border-radius: 16px;
  }

  .box {
    background: $bgBox;
    @include hoverShadow()
  }
}